<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0.3,Profile=Client" />
  </startup>
  <appSettings>

    <!--<add key="windowHeight" value="800"/>
    <add key="windowWidth" value="100"/>
    
    <add key="bufferHeight" value="800"/>
    <add key="bufferWidth" value="100"/>-->

    <add key="foregroundColor" value="Black" />
    <add key="backgroundColor" value="White" />

    <add key="portName" value="COM1" />
    <!--<add key="dataBits" value="8"/>-->
    <add key="encoding" value="UTF-8" />
    <add key="baudRate" value="9600" />
    <add key="parity" value="None" />
    <add key="stopBits" value="One" />
    <add key="handshake" value="None" />
    <add key="dtrEnable" value="false" />
    <add key="rtsEnable" value="false" />
    <add key="outputFormat" value="BytesDecimal" />

    <!---<add key="portName" value="COM1" />
    <add key="dataBits" value="8" />
    <add key="encoding" value="UTF-8" />
    <add key="baudRate" value="9600" />
    <add key="parity" value="None" />
    <add key="stopBits" value="One" />
    <add key="handshake" value="XOnXOff" />
    <add key="dtrEnable" value="true" />
    <add key="rtsEnable" value="true" />
    <add key="outputFormat" value="Text" />-->

  </appSettings>
</configuration>